.headerContent {
  //设置下边框,灰色
  //  border-bottom: 1px solid #e8e8e8;
  height: 54px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1); // 调整这里的参数以达到期望的效果
  border-radius: 8px; // 圆角半径，根据需要调整
  .logo {
    margin-left: 10px;
  }
}
