@slider: 20px 10px; // 设置 @slider 变量为 20px 10px 10px 10px;
@menuWidth: 400px; // 设置 @menuWidth 变量为 200px;
.Contain {
  background-color: rgb(242, 243, 245);
}
.home {
  height: 100vh;
}
.ant-layout {
  height: 100%;
}

.home-sider {
  margin: @slider;
}

.MenuContent {
  text-align: right;
}

.home-content {
  width: 50%;
  margin: @slider;
}
