@import '@/styles/variables.less';

.Contain {
  background-color: rgb(242, 243, 245);
  min-height: 100vh; /* 使用最小高度而不是固定高度，以便在内容较少时也能填满整个页面 */
  height: 100%;
}
.home {
  height: 100%;
  //background-color: chartreuse;
  .home-right-content {
    width: 30%;
  }
}
.ant-layout {
  height: 100%;
}

.home-sider {
  margin: @slider;
}

.MenuContent {
  text-align: right;
}

.home-content {
  width: 60%;
  margin: @slider;
}
