.post-preview {
  display: flex;
  flex-direction: column;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  background-color: #ffffff;
  padding: 10px 20px;

  .post-content pre {
    margin: 5px 0;
  }

  .post-title {
    font-size: 20px;
    font-weight: 630;
  }

  .post-meta {
    display: flex;
    justify-content: space-between;
    color: #8a919f;
    font-size: 14px;

    .post-infor {
      text-align: center; /* 居中对齐 */
      span {
        display: inline-block; /* 行内块元素 */
        //background-color: red;
      }
      span:not(:first-child) {
        margin-left: 20px; /* 控制项目之间的间距 */
      }
    }

    .post-tags {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.post-preview:hover {
  background-color: #f7f8fa;
}
