@import '@/styles/variables.less';
.right-content-location {
  background-color: #ffffff;
  margin: @slider;
  .location-title-content {
    padding: @left-content-title-padding;
  }
  .location-content {
    width: 100%;
    height: 300px;
    .mapContainer {
      width: 100%;
      height: 100%;
    }
  }
}
