//设置宽高
.user-content {
  //width: 300px;
  //background-color: red;
}

.login-content {
  width: 100px;
  div {
    display: flex;
    justify-content: space-around;
    align-items: center; /* 垂直居中 */
  }
}
