.user-rankings-content {
  display: flex;
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(to bottom, rgba(100, 193, 243, 0.5), white);

  .user-rank-content {
    border-radius: 5px;
    width: 60%;
    //height: 100vh;
    background-color: #ffffff;

    .user-rank-infor {
      width: 100px;
      .rank-1 {
        background: linear-gradient(to right, red, yellow);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .rank-2 {
        background: linear-gradient(to right, orange, yellow);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .rank-3 {
        background: linear-gradient(to right, yellow, green);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .user-rank-name {
        //font-size: 1.5em;
        font-weight: bold;
      }
    }
  }
}
