.user-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.write-article-btn {
  margin-right: 10px;
}

.logout-btn {
  color: #666; // 灰色
  font-size: 12px; // 小字
}
