/*主题色*/
@themeColor: #1966ff;
@borderColor: #eeeeee;
@bgColor: #fafafafa;

//定义左边content
@left-content-title-padding: 10px 30px;

@slider: 20px 10px; // 设置 @slider 变量为 20px 10px 10px 10px;
@menuWidth: 400px; // 设置 @menuWidth 变量为 200px;
